.docsContainer {
  overflow-y: auto;
  height: 100%;
  .layout {
    height: 100%;
  }
  .doc {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover {
      border-color: #dedede;
    }
    .thumbnail {
      max-width: 5rem;
      height: 3rem;
    }
  }
  .topBar {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    .logo {
      a {
        color: white;
      }
      font-size: 2rem;
      line-height: 3rem;
      cursor: pointer;
    }
    .commandsContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .command+.command {
        margin-left: 1rem;
      }
    }
  }
  .docList {
    padding: 0 50px;
    .create {
      display: none;
    }
  }
  @media screen and(max-width: 600px) {
    .topBar {
      padding: 0 10px;
    }
    .docList {
      padding: 0 10px;
    }
    .commandsContainer {
      .create {
        display: none;
      }
    }
    .docList {
      .create {
        display: block;
        width: 100%;
      }
    }
  }
}