.docsContainer {
  overflow-y: auto;
  height: 100%; }
  .docsContainer .topBar {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    height: 3rem; }
    .docsContainer .topBar .logo {
      font-size: 2rem;
      line-height: 3rem;
      cursor: pointer; }
      .docsContainer .topBar .logo a {
        color: white; }
    .docsContainer .topBar .commandsContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .docsContainer .topBar .commandsContainer .command + .command {
        margin-left: 1rem; }
  .docsContainer .docList {
    padding: 0 100px; }
    .docsContainer .docList .item:hover a {
      color: #00a9ff; }
    .docsContainer .docList .doc {
      height: 100%;
      width: 100%;
      display: flex;
      padding: 0 1rem;
      cursor: pointer; }
      .docsContainer .docList .doc .thumbnail {
        max-width: 5rem;
        height: 3rem; }
      .docsContainer .docList .doc .commands {
        display: inline-block;
        margin-left: auto;
        line-height: 3rem; }
  .docsContainer .create {
    display: none;
    position: fixed;
    right: 1rem;
    bottom: 1rem; }
  @media screen and (max-width: 600px) {
    .docsContainer .topBar {
      padding: 0 10px; }
      .docsContainer .topBar .commandsContainer .create {
        display: none; }
    .docsContainer .docList {
      padding: 0 10px; }
    .docsContainer .create {
      display: block; } }
