.docsContainer {
  overflow-y: auto;
  height: 100%; }
  .docsContainer .layout {
    height: 100%; }
  .docsContainer .topBar {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    height: 3rem; }
    .docsContainer .topBar .logo {
      font-size: 2rem;
      line-height: 3rem;
      cursor: pointer; }
      .docsContainer .topBar .logo a {
        color: white; }
    .docsContainer .topBar .commandsContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .docsContainer .topBar .commandsContainer .commands .command + .command {
        margin-left: 1rem; }
  .docsContainer .docList {
    padding: 0 100px;
    height: calc(100% - 7rem);
    overflow-y: auto;
    overflow-x: hidden; }
    .docsContainer .docList .item:hover a {
      color: #0f4b75; }
    .docsContainer .docList .doc {
      height: 100%;
      width: 100%;
      display: flex;
      padding: 0 1rem;
      cursor: pointer; }
      .docsContainer .docList .doc .clickable {
        display: flex;
        flex: 1 0 auto; }
        .docsContainer .docList .doc .clickable .thumbnail {
          width: 4rem;
          height: 3rem; }
        .docsContainer .docList .doc .clickable .meta {
          text-align: left; }
          .docsContainer .docList .doc .clickable .meta .name {
            font-size: 1.2rem; }
          .docsContainer .docList .doc .clickable .meta .description {
            font-size: 0.7rem; }
      .docsContainer .docList .doc .commands {
        flex: 0 0 auto;
        line-height: 3rem; }
  .docsContainer .footerBar {
    height: 4rem;
    text-align: center; }
  @media screen and (max-width: 600px) {
    .docsContainer .topBar,
    .docsContainer .docList {
      padding: 0 10px; }
    .docsContainer .fixed {
      position: fixed;
      right: 1rem;
      bottom: 1rem; }
    .docsContainer .inline {
      height: 2rem;
      width: 2rem;
      border-radius: 1rem;
      padding: 0 0; }
      .docsContainer .inline span {
        display: none; }
    .docsContainer .create {
      height: 3rem;
      width: 3rem;
      border-radius: 1.5rem;
      box-shadow: 0px 0px 5px 1px grey; }
      .docsContainer .create span {
        display: none; } }

.sharePanel {
  border: 1px black solid; }
