.commandBar {
  height: 100%;
  display: flex;
  padding: 0 .5rem; }
  .commandBar .blank {
    flex: auto; }
  .commandBar .section {
    height: 100%;
    flex: 0 1 auto; }
  .commandBar .separator-container {
    flex: 0 0 auto;
    width: 1px;
    margin-right: .2rem;
    margin-left: .2rem; }
    .commandBar .separator-container .separator {
      height: 80%;
      top: 10%;
      position: relative;
      flex: 0 0 auto;
      border-left: 1px #dedede solid;
      width: 1px; }
  .commandBar .horizontalIcons {
    display: flex; }
  .commandBar .colorIndicator {
    width: 1.8rem;
    height: 1.2rem;
    position: relative; }
    .commandBar .colorIndicator .color {
      width: 1.4rem;
      height: .9rem;
      position: absolute;
      border: 1px solid #dedede; }
    .commandBar .colorIndicator .back {
      bottom: 0;
      right: 0; }
  .commandBar .edit .separator-container {
    margin-right: .4rem;
    margin-left: .4rem; }

.pickerContainer hr {
  margin: 1rem 0; }
