.board {
  height: 100%;
  padding: 3rem;
  background-image: url(/images/transparent.png);
  background-repeat: repeat;
  .canvas {
    height: 100%;
    position: relative;
    background-color: white;
  }
  .svgDrawing {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .paths {
    fill: none;
    stroke: black;
    stroke-width: 3;
  }
}