.board {
  height: 100%;
  background-repeat: repeat;
  padding: 1rem;
  background-image: url(/images/transparent.png);
  .canvas {
    height: 100%;
    position: relative;
    background-color: white;
    .cornerResizer {
      position: absolute;
      width: 1rem;
      height: 1rem;
      background-color: white;
      right: -0.5rem;
      bottom: -0.5rem;
      cursor: se-resize;
      border: 1px solid black;
    }
  }
  .svgDrawing {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .paths {
    fill: none;
    stroke: black;
    stroke-width: 3;
  }
  @media screen and(max-width: 600px) {
    padding: 0;
    background-image: none;
  }
}