.painter-container {
  height: 100%; }
  .painter-container .commandBar {
    height: 3rem;
    display: flex; }
    .painter-container .commandBar .commandBtn {
      height: 2.8rem;
      width: 2.8rem; }
    .painter-container .commandBar .blank {
      flex: auto; }
  .painter-container .canvas {
    height: calc(100% - 3rem);
    position: relative; }
  .painter-container .svgDrawing {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%; }
  .painter-container .paths {
    fill: none;
    stroke: black;
    stroke-width: 3; }
